body{
	font-family: times;
}

#crack{
	background: url('img/f4.gif');
	background-position: bottom;
	background-size: fit;
	background-repeat: no-repeat;
	height: 700px;
}

.signature{
	font-family: Papyrus;
}

#cloud{
	background: url('img/f4.gif');	
}