@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');

$color-red: #bc2125;
$color-blue-light: #099cff;
$color-white: #fff;
$color-gray: #7a7a7a;
$color-dark-gray: #040111;
$color-light-gray: #b8b8b8;
$color-dark-blue: #17065b;
$color-dark-green: #616242;

$font-headers: 'Montserrat', sans-serif;
$font-body: 'Merriweather', Sans-serif;

*{
  box-sizing: border-box;
}

button{
  border: 0;
  -webkit-appearance: none;
}

html {
  scroll-behavior: smooth;
}

.slides{
  padding: 0;
  margin: 0;
  background: radial-gradient(circle at right bottom, rgba(255,255,255,1) 1%, rgba(154,164,192,1) 33%, rgba(6,0,106,1) 100%);
  padding-left: 15px;
  padding-right: 15px;
}
.slide-wrapper{
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 0;
  height: 450px;
}

.slide{
  display: inline-block;
  display: none;
  margin: 0 auto;
  height: 450px;

  .slide-text{
    position: absolute;
    bottom: 15px;
    max-width: 600px;
  }
  .slide-img{
    max-height: 450px;
    position: absolute;
    bottom: 0;
  }

  .-right{
    right: 0;
    text-align: right;
  }

  h3{
    color: #fff;
    font-family: sans-serif;
    text-transform: none;
  }
  p {
    left: 15px;
    bottom: 15px;
    color: #fff;
  }
  .hero--logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
  }
  .hero--portrait{
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 450px;
  }

  h1{
    font-family: $font-headers;
    font-size: 65px;
    line-height: .35;
    color: $color-white;
    transition: .5s ease-in-out;
    margin-top: 25px;
    margin-bottom: 45px;
  }

  a{
    text-decoration: none;
  }

  .slide2-join{
    line-height: 0;
    font-size: 50px;
    color: $color-white;
  }

  .kickoff-p{
    background-color: $color-dark-blue;
    // color: #FFFFFF;
     display:inline;
     // white-space:pre-wrap;
     line-height : 24px;
     // font-size: 24px;
    padding: 5px;
    padding-left:0px;
    box-shadow: -16px 0 0 $color-dark-blue;

  }


  @media(max-width: 680px){
    h1, h2{
        font-size: 35px;
        margin-bottom: 25px;
    }
    .slide2-join{
      line-height: 0;
      font-size: 20px;
      color: $color-white;
    }
    .hero--logo{
      width: 170px;
    }
    // .kickoff-p{
    //   // box-shadow: none;
    //   // background: none;
    //   // font-weight: 700;
    // }
  }

  @media(max-width: 450px){
    .hero--logo{
      display: none;
    }
  }
}



.control{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background: $color-white;
  border-radius: 100%;
  position: relative;
}

.control-area{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 100px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  }


body{
  margin: 0;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;

  .logo{
    width: 100px;
  }

  .nav-menu{
    padding: 15px;
    font-family: $font-headers;
    // text-transform: uppercase;
    font-weight: 700;
    display: block;

    ul li{
      list-style-type: none;
      display: inline-block;
    }

    a{
      text-decoration: none;
      padding: 15px;
      color: $color-dark-blue;
    }

    .mobile-menu-open,
    .mobile-menu-dismiss{
      font-size: 30px;
      color: $color-dark-blue;
      cursor: pointer;
    }



    @media(max-width: 768px){

      ul{
        display: none;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: $color-white;
      }
      ul li{
        padding: 15px;
        text-align: center;
        display: block;
        margin: 15px;
      }
      .mobile-menu-open{
        display: block;
      }
    }




    .-donate{
      border-radius: 30px;
      text-transform: uppercase;
      color: $color-white;
      background: $color-red;
    }
    .-donate:hover{
      background: $color-light-gray;
    }
  }
  background: $color-white;
  height: 70px;
}

section:before {
    height: 54px;
    content: "";
    display:block;
}

section.slides:before{
  height: 0;
}


:target{
  padding-top:100px; /* = to height of navbar */
  margin-top:-100px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  z-index: 6001;
  height: 100px;
  padding: 15px;
}

.-hide{
  display: none;
}

.-show{
  display: flex !important;
  flex-direction: column;

}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .3s;
  animation-name: fade;
  animation-duration: .3s;
}

@-webkit-keyframes fade {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}


.hero-background{
  background: $color-dark-green;
  background-image: url('ben-outside.jpg');
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}



.-light-font{
  font-weight: 300;
}




.meet{
  .meet-ben-img{
    width: 400px;
    float: left;
    padding-right: 30px;
    padding-bottom: 15px;
    transform: rotate(-3deg);
  }
  .meet-paragraph{
    display: none;
  }
  .read-more{
    border-radius: 0;
    border: 0;
    font-family: $font-body;
    font-size: 20px;
    color: $color-blue-light;
    cursor: pointer;
    font-weight: 900;
    background: $color-white;
  }
  .meet-highlight{
    font-size: 28px;
    line-height: 1.3em !important;
    color: $color-gray;
  }
  .read-more:hover{
    color: $color-dark-gray;
  }

  @media(max-width: 768px){
    .meet-ben-img{
      width: 100%;
      margin: 15px;
      transform: rotate(0deg);
    }
  }

}


a, input[type="submit"], button, svg{
  transition: 0.1s;
}


// main{
//   margin-top: 100px;
// }
.hero, .slide{
  .hero--logo{
    width: 200px;
  }
  .donate-button{
    font-family: $font-headers;
    font-size: 30px;
    background: $color-red;
    color: $color-white;
    -webkit-appearance: none;
    &.-secondary{
      background: none;
      color: $color-white;
    }

  }
  // .hero--logo{
  //   width: 350px;
  //   position: absolute;
  //   left: -300px;
  //   transform: rotate(15deg);
  //   animation: drive 3s forwards;
  // }
  .hero--ben-profile{
    position: absolute;
    bottom: 0;
    right: 0;
  }

  @media(max-width: 680px){
    .hero--ben-profile{
        width: 68%;
    }

    .donate-button{
      font-size: 15px;
      display: block;
      width: 45%;
      -webkit-appearance: none;
    }
    .kickoff-donate-button{
      float: right;
      clear: right;
    }
  }

}




.hero{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 450px;
  max-width: 1200px;
  margin: 0 auto;

}



.hero{
  .hero--textarea h1{
    font-family: $font-headers;
    font-size: 65px;
    line-height: .35;
    color: $color-white;
    transition: .5s ease-in-out;
    margin-top: 25px;
    margin-bottom: 45px;
  }

  .hero--textarea a{
    text-decoration: none;
  }


  @media(max-width: 680px){
    .hero--textarea h1, h2{
        font-size: 35px;
        margin-bottom: 25px;
    }
    .hero--logo{
      width: 170px;
    }
  }

  @media(max-width: 450px){
    .hero--logo{
      display: none;
    }
  }

}

.sub-hero-cta{
  display: flex;
  justify-content: center;

  .form-input-wrapper{
    display: inline;
  }
  .form-input-wrapper input{
    width: 300px;
    border: 2px solid #e0e6e8;
    border-radius: 3px;
    padding: 0 0 0 16px;
    height: 30px;
    transition: border .15s;
    display: inline;
  }
  .submit_container {
    display: inline !important;
  }
  .cta-text{
    font-family: $font-headers;
    margin-right: 15px;
  }
  input::placeholder {
    color: $color-dark-gray;
    font-size: 10px;
    font-family: $font-body;
  }

  @media(max-width: 768px){
    .form-input-wrapper,
    .form-input-wrapper input,
    .submit_container {
      display: block !important;
      text-align: center;
    }
    .submit-button{
      margin: auto;
    }
    form{
      text-align: center;
    }
  }
}



section{
  padding: 15px;
  font-family: $font-body;

  h1{
    font-weight: 900;
  }
  h2 {
    font-family: $font-headers;
    font-size: 60px;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: 900;
  }

  ul {
    font-weight: 100;
    padding-left: 15px;
    padding-bottom: 15px;
    list-style-type: none;
  }

  p{
    padding-bottom: 15px;
  }

  &.-light{
    font-size: 20px;
    color: $color-gray;

    p {
      color: $color-gray;
    }

    p a{
      color: $color-blue-light;
      font-weight: 900;
    }

    h2{
      color: $color-blue-light;
      border-left: 10px solid $color-dark-blue;
    }

    h3{
      color: $color-gray;
    }
  }

  &.-dark{
    background: $color-dark-blue;
    color: $color-white;
    font-size: 20px;

    p a{
      color: $color-white;
      font-weight: 900;
    }

    h2{
      border-left: 10px solid $color-red;
    }

    h3{
      color: $color-white;
    }

  }
}



.max-width{
  max-width: 1200px;
  margin: 0 auto;
}


@media(max-width: 680px){
  .max-width-hero {
    height: 450px;
  }
}



.announcement{
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-red;
  position: fixed;
  top: 0px;
  width: 100%;
  color: $color-white;
  font-weight: 900;
  padding: 5px;
  text-align: center;
  font-family: $font-headers;
  margin: 0;
  font-size: 15px;
  z-index: 3001;

  a{
    text-decoration: none;
    color: $color-white;
  }
}


li.check{
  padding-bottom: 7px;
  padding-top: 7px;
}

@media(max-width: 680px){
  section.-dark h2, section.-light h2{
    font-size: 45px;
  }

  section ul, li, p{
    font-size: 17px;
  }
}

.-light-blue{
  color: $color-blue-light;
}

.-dark-green{
  color: $color-dark-green;
}

.-dark-blue{
  color: $color-dark-blue;
}
section.-dark .button-wrap h2{
  border-left: none;
  padding-left: 0;
}
.button-wrap{
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  padding: 30px;
  background: rgba(23, 6, 91, .7);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);
  font-family: $font-headers;
}

.donate-button{
  font-weight: 500;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 5px;
  padding: 0.5rem 1rem;
  background: $color-white;
  flex-basis: 200px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  -webkit-appearance: none;
}

.donate-button:hover{
  background: $color-gray;
}

footer{
  background: #000;
  color: $color-white;
  font-family: $font-headers;
  padding: 15px;
}

.footer-heading{
  margin-bottom: 7px;
}

footer svg{
  fill: $color-white;
}

.contact-icon{
  width: 45px;
}

.contact-icon:hover{
    fill: $color-gray;
}

.flex-grid{
  display: flex;
}

.col{
  flex: 1;
  text-align: center;
  align-items: center;
}

@media (max-width: 680px) {
  .flex-grid {
    display: block;
  }
}

section.ben-planning-bg{
  background-image: url("ben_planning.jpg");
  background-size: cover;
  height: 600px;
  background-position: 0 0;
}

@media (max-width: 680px) {
  section.ben-planning-bg{
    background-position-x: 700px;
  }
  .flex-grid {
    display: block;
  }
}


.form-input-wrapper{
  padding: 7px 15px 15px 0;

}

.form-wrapper{
  transition: .5s ease-in-out;
}

.form-select-wrapper{
  font-size: 14px;
  padding-bottom: 15px;

}

.form-input-wrapper input{
  width: 300px;
  border: 2px solid #e0e6e8;
  border-radius: 3px;
  padding: 0 0 0 16px;
  height: 50px;
  transition: border .15s;
}

.submit-button{
  font-weight: 500;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 5px;
  padding: 0.5rem 1rem;
  background: $color-blue-light;
  flex-basis: 200px;
  color: $color-white;
  text-decoration: none;
  font-weight: 600;
  -webkit-appearance: none;
}

.submit-button:hover{
  background: $color-gray;
}

.endorse-name{
  display: block;
  font-size: 20px;
  font-weight: 900;
}

.endorse-title{
  font-style: italic;
}

.endorse-wrapper{
  margin-bottom: 15px;

}

.max-width.endorsements{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  padding: 15px;
  text-align: center;
}

@media(max-width: 680px){
  .max-width.endorsements{
    grid-template-columns: 100%;
  }
}

.max-width.platform{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  padding: 0 15px 0 15px;
}

@media(max-width: 680px){
  .max-width.platform{
    grid-template-columns: 100%;
  }
  .max-width.platform{
    padding: 0;
  }
}

.platform-wrapper{
  padding: 0 15px 0 15px;
}

.pb-70{
  padding-bottom: 70px;
}
