@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900;300&display=swap');

*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.max-width{
  max-width: 1200px;
  margin: 0 auto;
}

.max-width-hero{
  max-width: 1200px;
  margin: 0 auto;
  height: 650px;
  position: relative;
}

@media(max-width: 680px){
    .max-width-hero {
        height: 450px;
    }
}

.announcement{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #bc2125;
    position: absolute;
    top: 0px;
    width: 100%;
    color: #fff;
    font-weight: 900;
    padding: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 25px;
    z-index: 1;
}

section.meet p{
  line-height: 1.8em;
}

.announcement a{
  text-decoration: none;
  color: #fff;
}

.slogan{
  text-align: center;
}

header {
    top: 45px;
    position: relative;
    height: 650px;
    background: rgb(255,255,255);
    background: radial-gradient(circle at right bottom, rgba(255,255,255,1) 1%, rgba(154,164,192,1) 33%, rgba(6,0,106,1) 100%);
    /*background: radial-gradient(circle at right bottom, rgba(6,0,106,1) 1%, rgba(154,164,192,1) 73%, rgba(255,255,255,1) 100%);*/
}

@media(max-width: 680px){
    header {
        height: 450px;
    }
}

.hero--ben-profile{
    position: absolute;
    bottom: 0;
    right: 0;
}

@media(max-width: 680px){
    .hero--ben-profile{
        width: 75%;
    }
}

.hero--logo{
    width: 350px;
    position: absolute;
    left: -300px;
    transform: rotate(15deg);
    animation: drive 3s forwards;
}

@keyframes drive{
    0%   {
        left: -500px;
    }
    60%   {
        left: 300px;
    }
    100%   {
        top: 15px;
        left: 15px;
        transform: rotate(0deg);
    }
}

.hero--textarea{
    position: absolute;
    bottom: 5px;
    left: 15px;
}



.hero--textarea h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    line-height: .35;
    color: #fff;
    transition: .5s ease-in-out;

}

.hero--textarea a{
  text-decoration: none;
}

@media(hover: hover){
  .hero--textarea h1:hover{

      transform: translateY(-10px) scale(1.02);
      color: #bc2125;

  }
}

@media(max-width: 680px){
    .hero--textarea h1, h2{
        font-size: 35px;
    }
}

body{
    margin: 0;
}

section{
    padding: 15px;
}

section p a{
  color: #fff;
  font-weight: 900;
}

section.-light h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    color: #099cff;
    border-left: 10px solid #bc2125;
    padding-left: 15px;
}

section.-light{
    font-family: "Merriweather", Sans-serif;
    font-size: 20px;
    color: #7a7a7a;
}

section.-light ul{
    font-weight: 100;
    padding-left: 15px;
    list-style-type: none;
}

li.check{
  padding-bottom: 7px;
  padding-top: 7px;
}


li.check:before {
  content: '✓ ';
}

section ul{
  padding-bottom: 15px;
}
section.-dark{
    background: #17065b;
    color: #fff;
    font-family: "Merriweather", Sans-serif;
    font-size: 20px;
}

section.-dark h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    border-left: 10px solid #bc2125;
    padding-left: 15px;
}


section.-dark ul{
    font-family: "Merriweather", Sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding-left: 15px;
    list-style-type: none;
}

@media(max-width: 680px){
  section.-dark h2, section.-light h2{
    font-size: 45px;
  }

  section ul, li, p{
    font-size: 17px;
  }
}

.img-float-left{
  float: left;
}

.img-max-width-40{
  max-width: 40%;
}

@media(max-width: 680px){
  .img-max-width-40{
  max-width: 95%;
  }
}

.-light-blue{
  color: #099cff;
}

.img-treatment{
  padding: 7px;
  margin: 0px 15px 15px 15px;
}

.-light .img-treatment{
  border: 1px solid #099cff;
}

.-light p a{
  color: #099cff;
}

.-dark .img-treatment{
  border: 1px solid #fff;
}

.-bold-font{
  font-family: 'Montserrat', sans-serif;
}

section.-dark .button-wrap h2{
  border-left: none;
  padding-left: 0;
}
.button-wrap{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  padding: 30px;
  background: rgba(188, 33, 37, .7);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);
  font-family: 'Montserrat', sans-serif;
}

.donate-button{
  font-weight: 500;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 5px;
  padding: 0.5rem 1rem;
  background: #fff;
  flex-basis: 200px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.donate-button:hover{
  background: #b8b8b8;
}

footer{
  background: #040111;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
}

.footer-heading{
  margin-bottom: 7px;
}

footer svg{
  fill: #fff;
}

.contact-icon{
  width: 45px;
}

.contact-icon:hover{
    fill: #b8b8b8;
}



.flex-grid{
  display: flex;
}

.col{
  flex: 1;
  text-align: center;
  align-items: center;
}

@media (max-width: 680px) {
  .flex-grid {
    display: block;
  }
}

section.ben-planning-bg{
  background-image: url("ben_planning.jpg");
  background-size: cover;
  height: 600px;
  background-position: 0 0;
}

@media (max-width: 680px) {

  section.ben-planning-bg{
    background-position-x: 700px;
  }
  .flex-grid {
    display: block;
  }
}


#wrapper {
  width:150px; /* width of viewport in your case 100% */
  height:500px; /* height of viewport in your case 100% */
  overflow:hidden;
  margin:10px 0 0 0;
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  /* border:1px solid #777; */
  /*position:fixed;*/
}

#map {
  position:relative; /* what #map img is relative to */
}

#map img{
  position:absolute; /* need this to make dragging easy */
  top:0;
  left:0;
  border:0 none transparent;
}
