@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap");
* {
  box-sizing: border-box;
}

button {
  border: 0;
  -webkit-appearance: none;
}

html {
  scroll-behavior: smooth;
}

.slides {
  padding: 0;
  margin: 0;
  background: radial-gradient(circle at right bottom, white 1%, #9aa4c0 33%, #06006a 100%);
}

.slide-wrapper {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 0;
  height: 450px;
  overflow: hidden;
}

.slide {
  display: inline-block;
  display: none;
  margin: 0 auto;
  height: 450px;
  padding-left: 15px;
  padding-right: 15px;
}
.slide .slide-text {
  position: absolute;
  bottom: 15px;
  max-width: 600px;
}
.slide .slide-img {
  max-height: 450px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
.slide .-left {
  left: 0;
}
.slide .-right {
  right: 0;
  text-align: right;
}
.slide h3 {
  color: #fff;
  font-family: sans-serif;
  text-transform: none;
}
.slide p {
  left: 15px;
  bottom: 15px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0;
}
.slide .hero--logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
}
.slide .hero--portrait {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 450px;
}
.slide .-mb-20 {
  margin-bottom: 20px;
}
.slide h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 65px;
  line-height: 0.35;
  color: #fff;
  transition: 0.5s ease-in-out;
  margin-top: 25px;
  margin-bottom: 45px;
}
.slide a {
  text-decoration: none;
}
.slide .slide2-join {
  line-height: 0;
  font-size: 50px;
  color: #fff;
  padding-left: 0 !important;
}
.slide .kickoff-p {
  background-color: #17065b;
  display: inline;
  line-height: 24px;
  padding: 5px;
  padding-left: 0px;
  box-shadow: -16px 0 0 #17065b;
}
@media (max-width: 680px) {
  .slide h1, .slide h2 {
    font-size: 35px;
    margin-bottom: 25px;
  }
  .slide .slide2-join {
    line-height: 0;
    font-size: 20px;
    color: #fff;
  }
  .slide .hero--logo {
    width: 170px;
  }
  .slide p {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  .slide .hero--logo {
    display: none;
  }
}

.control {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background: #fff;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
}

.control-area {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  background: #fff;
  height: 70px;
}
header .logo {
  width: 100px;
}
header .nav-menu {
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: block;
}
header .nav-menu ul {
  z-index: 5000;
}
header .nav-menu ul li {
  list-style-type: none;
  display: inline-block;
}
header .nav-menu a {
  text-decoration: none;
  padding: 15px;
  color: #17065b;
}
header .nav-menu .mobile-menu-open,
header .nav-menu .mobile-menu-dismiss {
  font-size: 30px;
  color: #17065b;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .nav-menu ul {
    display: none;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
  }
  header .nav-menu ul li {
    padding: 15px;
    text-align: center;
    display: block;
    margin: 15px;
  }
  header .nav-menu .mobile-menu-open {
    display: block;
  }
}
header .nav-menu .-donate {
  border-radius: 30px;
  text-transform: uppercase;
  color: #fff;
  background: #bc2125;
}
header .nav-menu .-donate:hover {
  background: #b8b8b8;
}

section:before {
  height: 54px;
  content: "";
  display: block;
}

section.slides:before {
  height: 0;
}

.splash-hero h2 {
  padding-left: 0;
  margin-bottom: 0;
}
.splash-hero form {
  padding-bottom: 120px;
}
@media (max-width: 768px) {
  .splash-hero form {
    padding-bottom: 30px;
  }
}

section.splash-page {
  margin-top: 0;
  padding-top: 0;
}
section.splash-page h2 {
  padding-left: 0;
}
section.splash-page p {
  color: #17065b !important;
}
section.splash-page:before {
  height: 0;
}

:target {
  padding-top: 100px;
  /* = to height of navbar */
  margin-top: -100px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  z-index: 6001;
  height: 100px;
  padding: 15px;
}

.-hide {
  display: none;
}

.-show {
  display: flex !important;
  flex-direction: column;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.3s;
  animation-name: fade;
  animation-duration: 0.3s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.hero-background {
  background: #616242;
  background-image: url("ben-outside.jpg");
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

.-light-font {
  font-weight: 300;
}

.meet .meet-ben-img {
  width: 400px;
  float: left;
  padding-right: 30px;
  padding-bottom: 15px;
  transform: rotate(-3deg);
}
.meet .meet-paragraph {
  display: none;
}
.meet .read-more {
  border-radius: 0;
  border: 0;
  font-family: "Merriweather", Sans-serif;
  font-size: 20px;
  color: #099cff;
  cursor: pointer;
  font-weight: 900;
  background: #fff;
}
.meet .meet-highlight {
  font-size: 28px;
  line-height: 1.3em !important;
  color: #7a7a7a;
}
.meet .read-more:hover {
  color: #040111;
}
@media (max-width: 768px) {
  .meet .meet-ben-img {
    width: 100%;
    margin: 15px;
    transform: rotate(0deg);
  }
}

a, input[type=submit], button, svg {
  transition: 0.1s;
  text-decoration: none !important;
}

.hero .hero--logo, .slide .hero--logo {
  width: 200px;
}
.hero .donate-button, .slide .donate-button {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  background: #bc2125;
  color: #fff;
  -webkit-appearance: none;
}
.hero .donate-button.-secondary, .slide .donate-button.-secondary {
  background: none;
  color: #fff;
}
.hero .hero--ben-profile, .slide .hero--ben-profile {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 680px) {
  .hero .hero--ben-profile, .slide .hero--ben-profile {
    width: 68%;
  }
  .hero .donate-button, .slide .donate-button {
    font-size: 15px;
    display: block;
    width: 45%;
    -webkit-appearance: none;
  }
  .hero .kickoff-donate-button, .slide .kickoff-donate-button {
    float: right;
    clear: right;
  }
}

.hero {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 450px;
  max-width: 1200px;
  margin: 0 auto;
}

.hero .hero--textarea h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 65px;
  line-height: 0.35;
  color: #fff;
  transition: 0.5s ease-in-out;
  margin-top: 25px;
  margin-bottom: 45px;
}
.hero .hero--textarea a {
  text-decoration: none;
}
@media (max-width: 680px) {
  .hero .hero--textarea h1, .hero h2 {
    font-size: 35px;
    margin-bottom: 25px;
  }
  .hero .hero--logo {
    width: 170px;
  }
}
@media (max-width: 450px) {
  .hero .hero--logo {
    display: none;
  }
}

.sub-hero-cta {
  display: flex;
  justify-content: center;
}
.sub-hero-cta .form-input-wrapper {
  display: inline;
}
.sub-hero-cta .form-input-wrapper input {
  width: 300px;
  border: 2px solid #e0e6e8;
  border-radius: 3px;
  padding: 0 0 0 16px;
  height: 30px;
  transition: border 0.15s;
  display: inline;
}
.sub-hero-cta .submit_container {
  display: inline !important;
}
.sub-hero-cta .cta-text {
  font-family: "Montserrat", sans-serif;
  margin-right: 15px;
}
.sub-hero-cta input::placeholder {
  color: #040111;
  font-size: 10px;
  font-family: "Merriweather", Sans-serif;
}
@media (max-width: 768px) {
  .sub-hero-cta .form-input-wrapper,
.sub-hero-cta .form-input-wrapper input,
.sub-hero-cta .submit_container {
    display: block !important;
    text-align: center;
  }
  .sub-hero-cta .submit-button {
    margin: auto;
  }
  .sub-hero-cta form {
    text-align: center;
  }
}

section {
  padding: 15px;
  font-family: "Merriweather", Sans-serif;
}
section h1 {
  font-weight: 900;
}
section h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  padding-left: 15px;
  font-weight: 900;
}
section ul {
  font-weight: 100;
  padding-left: 15px;
  padding-bottom: 15px;
  list-style-type: none;
}
section p {
  padding-bottom: 15px;
}
section.-light {
  font-size: 20px;
  color: #7a7a7a;
}
section.-light p {
  color: #7a7a7a;
}
section.-light p a {
  color: #099cff;
  font-weight: 900;
}
section.-light h2 {
  color: #099cff;
  border-left: 10px solid #17065b;
}
section.-light h3 {
  color: #7a7a7a;
}
section.-dark {
  background: #17065b;
  color: #fff;
  font-size: 20px;
}
section.-dark p a {
  color: #fff;
  font-weight: 900;
}
section.-dark h2 {
  border-left: 10px solid #bc2125;
}
section.-dark h3 {
  color: #fff;
}

.max-width {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 680px) {
  .max-width-hero {
    height: 450px;
  }
}
.announcement {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #bc2125;
  position: fixed;
  top: 0px;
  width: 100%;
  color: #fff;
  font-weight: 900;
  padding: 5px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 15px;
  z-index: 3001;
}
.announcement a {
  text-decoration: none;
  color: #fff;
}

li.check {
  padding-bottom: 7px;
  padding-top: 7px;
}

@media (max-width: 680px) {
  section.-dark h2, section.-light h2 {
    font-size: 45px;
  }

  section ul, li, p {
    font-size: 17px;
  }
}
.-light-blue {
  color: #099cff;
}

.-dark-green {
  color: #616242;
}

.-dark-blue {
  color: #17065b;
}

section.-dark .button-wrap h2 {
  border-left: none;
  padding-left: 0;
}

.button-wrap {
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  padding: 30px;
  background: rgba(23, 6, 91, 0.7);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat", sans-serif;
}

.donate-button {
  font-weight: 500;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 5px;
  padding: 0.5rem 1rem;
  background: #fff;
  flex-basis: 200px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  -webkit-appearance: none;
}

.donate-button:hover {
  background: #7a7a7a;
}

footer {
  background: #000;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
}

.footer-heading {
  margin-bottom: 7px;
}

footer svg {
  fill: #fff;
}

footer.-light {
  background: #fff;
  color: #17065b;
}
footer.-light svg {
  fill: #17065b;
}

.contact-icon {
  width: 45px;
}

.contact-icon:hover {
  fill: #7a7a7a;
}

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
  text-align: center;
  align-items: center;
}

@media (max-width: 680px) {
  .flex-grid {
    display: block;
  }
}
section.ben-planning-bg {
  background-image: url("ben_planning.jpg");
  background-size: cover;
  height: 600px;
  background-position: 0 0;
}

@media (max-width: 680px) {
  section.ben-planning-bg {
    background-position-x: 700px;
  }

  .flex-grid {
    display: block;
  }
}
.form-input-wrapper {
  padding: 7px 15px 15px 0;
}

.form-wrapper {
  transition: 0.5s ease-in-out;
}

.form-select-wrapper {
  font-size: 14px;
  padding-bottom: 15px;
}

.form-input-wrapper input {
  width: 300px;
  border: 2px solid #e0e6e8;
  border-radius: 3px;
  padding: 0 0 0 16px;
  height: 50px;
  transition: border 0.15s;
}

.submit-button {
  font-weight: 500;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 5px;
  padding: 0.5rem 1rem;
  background: #099cff;
  flex-basis: 200px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  -webkit-appearance: none;
}

.submit-button:hover {
  background: #7a7a7a;
}

.endorse-name {
  display: block;
  font-size: 20px;
  font-weight: 900;
}

.endorse-title {
  font-style: italic;
}

.endorse-wrapper {
  margin-bottom: 15px;
}

.endorsement-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.endorsement-logos .endorsement-logo {
  max-height: 100px;
  margin: 15px;
}

.max-width.endorsements {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  padding: 15px;
  text-align: center;
}

@media (max-width: 680px) {
  .max-width.endorsements {
    grid-template-columns: 100%;
  }
}
.max-width.platform {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  padding: 0 15px 0 15px;
}

@media (max-width: 680px) {
  .max-width.platform {
    grid-template-columns: 100%;
  }

  .max-width.platform {
    padding: 0;
  }
}
.platform-wrapper {
  padding: 0 15px 0 15px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-100 {
  padding-bottom: 100px;
}

/*# sourceMappingURL=styles.css.map */
