body{
	font-family: times;
}

p{
	font-size: 25px;
}

ul li{
	font-size: 25px;
}

ul.nav{
	font-size: 30px;
	font-weight: 300;

}
#crack{
	background: url('img/f4.gif');
	background-size: cover;
	background-position: bottom;
	background-size: fit;
	background-repeat: no-repeat;
	height: 630px;

}

.signature{
	font-family: Papyrus;
	font-size: 35px;
}

#cloud{
	background: url('img/f4.gif');	
}