/* *{
  direction: rtl;
} */


.navbar-default .navbar-nav > li > a {
/*    font-family: "Muli", Helvetica, Arial, sans-serif;
*/    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    color: #fff;


}

/*html[dir="rtl"] .navbar-default .navbar-nav > li > a {
  font-size: 24px;
}*/

@media (min-width: 768px) {
  html[dir="rtl"] .navbar-default .navbar-nav > li {
    float: right;
  }
}


.hero-unit{
  background-image: url("http://ideascale.ae/userimages/1001/herobanner.jpeg");
  background-size: cover;
  margin-top: -17px;
  padding: 30px;
  color: #fff;
  font-size: 15px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  color: #fff;
}


.navbar-default{
    background-color: #D9E3E6;
    color: #fff;
    }


.header-nav ul{
  min-width: 200px;
  text-align: right;
  display: block;
  margin-top: 73px;
  margin-bottom: -86px;
}

  .header-nav ul li{
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;

}

.header-nav ul li a{
  text-transform: capitalize;
  font-size: 18px;
}



@media (max-width: 767px) {
  .custom-landing-body > .container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 992px) {
  .cl-logo{
    height: 80px;
  }


}
.cl-logo {
  display: block;
  width: 450px;
}
@media (min-width: 992px) {
  .landing-search {
    position: relative;
  }
  .landing-search > form {
    padding-left: 8px;
    min-width: 220px;
  }
}
.landing-search > form > .input-group > .input-group-btn > .btn {
  padding-left: 7px;
  padding-right: 5px;
  height: 31px;
  background: #4a4a4a;
  color: #fff;
}
.landing-search > form > .input-group > .input-group-btn > .btn > .glyphicon {
  display: block;
}
.custom-landing-page > header > div > h1 {
  margin: 0;
}
.custom-landing-page > header + img {
  margin-top: 25px;
}
.custom-landing-page > #main-content > section,
.custom-landing-page > #main-content > .row {
  margin-top: 40px;
}
.custom-landing-page h2 {
  color: #000;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.1;
}
@media (max-width: 991px) {
  .custom-landing-page > header > div > h1 {
    margin: 0 10px;
  }
  .cl-logo {
    width: 100%;
    height: 0;
    padding-bottom: 17.55555556%;
    background-size: cover;
    margin: 20px 0;
  }
}
@media (min-width: 992px) {
  .cl-campaign {
    margin-right: -15px;
  }
}
.campaign-group {
  color: #4d4d4d;
  font-size: 15px;
  margin: 0;


}
.campaign-group,
.cl-campaign > header > h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cl-campaign > header > h3 {
  margin: 0;
  font-size: 18px;
  line-height: 1.1;
}
.cl-campaign > header > h3 > a {
  color: #333;
}
.clc-desc {
  color: #666;
  font-size: 14px;
  line-height: 1.6;

  overflow: hidden;
  margin: 1em 0 0 0;
}
.clc-desc img {
  display: none;
}
.cl-nav-heading {
  color: #fff;
  background: #0f79b3;
  font-size: 20px;
  text-align: center;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cl-nav-with-heading,
.cl-nav-heading {
  line-height: 2em;
}
.cl-nav-heading,
.cl-nav-heading + ul {
  padding: 0 16px;
}
.cl-nav-heading + ul {
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: disc inside;
}
.cl-nav-heading + ul > li > a {
  font-weight: bold;
}
.hover-scrollable {
  overflow: hidden;
}
.hover-scrollable:hover {
  overflow: auto;
}
.cl-campaign-list > .list-unstyled {
  padding-right: 0;
}
.cl-campaign-list > ul > li > ul > li > a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 2.3em;
}
@media (min-width: 992px) {
  .cl-campaign-list {
    height: 268.09090909px;
  }
}
@media (min-width: 1200px) {
  .cl-campaign-list {
    height: 303px;
  }
}
.cl-idea {
  position: relative;

  margin-bottom: 40px;
}
.cl-idea > header > h3 {
  margin-bottom: 4px;
}
.cl-idea > header > h3 > a {
  color: #0f79b3;
  font-size: 18px;
}
.cl-idea > header > p {
  color: #666;
}
.cl-idea > header > p > img {
  width: 114px;
  height: 114px;
  border-radius: 114px;
  position: absolute;
  left: 0;
  top: 3px;
}
.cl-idea > p {
  font-size: 12px;
  line-height: 1.3;
  height: 100px;
  overflow: hidden;
 }
.cli-stats {
  color: #004071;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: bold;
}
.cl-leaderboard {
  width: 100%;
}
.cl-leaderboard > tbody > tr {
  border: solid 1px #979797;
}
.cl-leaderboard > tbody > tr > td {
  height: 78px;
  vertical-align: middle;
}
.cl-leaderboard > tbody > tr > td > img {
  height: 100%;
}
.cl-leaderboard > tbody > tr.active {
  color: #fff;
  background: #004071;
}
.cll-rank {
  width: 78px;
  text-align: center;
  font-size: 30px;
  color: #004071;
}
.active > .cll-rank {
  color: #fff;
}
.cll-avatar {
  width: 78px;
}
.cll-name,
.cll-stats {
  padding: 0 20px;
}
.cll-name,
.cll-stats,
.cll-points {
  font-weight: bold;
}
.cll-name {
  font-size: 18px;
}
.cll-stats > p {
  margin: 0;
}
.cll-stats-ideas,
.cll-points > strong {
  font-size: 16px;
}
.cll-points > strong {
  display: block;
}
@media (min-width: 992px) {
  .cl-tag-list {
    height: 391px;
  }
}
.cl-well {
  margin-top: 60px;
  background: #D9E3E6;
  padding: 28px 16px;
  color: #fff;
  font-size: 14px;
}
.cl-well h2 {
  color: #fff;
  border-bottom: solid 1px #fff;
  line-height: 1.2;
}
.cl-well article + section {
  margin-top: 50px;
}
@media (max-width: 991px) {
  .cl-well .col-md-7 {
    float: none !important;
    margin-bottom: 20px;
  }
}
.cl-connect > a {
  float: left;
  margin-right: 16px;
}
@media (max-width: 1199px) {
  .cl-connect > a {
    zoom: 80%;
  }
}
@media (max-width: 767px) {
  .cll-stats,
  .cll-points {
    display: none;
  }
  .cl-connect > a {
    margin-bottom: 16px;
  }
  .cl-campaign,
  .cl-idea,
  .landing-search,
  #main-content > section > h2,
  #main-content > .row > section > h2 {
    margin-left: 16px;
    margin-right: 16px;
  }
  .cl-campaign {
    margin-bottom: 20px;
  }
  .custom-landing-page > header + img {
    margin-top: 10px;
  }
  .cl-idea {
    padding-left: 70px;
  }
  .cl-idea > header > p > img {
    width: 60px;
    height: 60px;
    border-radius: 60px;
  }
}
.header-search,
.header-countdown {
  background: #004071;
}
.btn-primary {
  background: #474747;
  border-color: #474747;
}
.idea-list-modes li {
  background: #004071;
}
.aside-section-heading,
a,
.btn-link {
  color: #474747;
}
a:hover {
  color: #474747;
}
.link-list > .current {
  background: #474747;
}


.hero-area{
  background-image: url("http://ideascale.ae/userimages/1001/herobanner.jpeg");
  height: 256px;
  background-size: cover;

}





.cl-leaderboard {
  margin-top: 15px;
  font-weight: bold;
  width: 100%;
  border-top: solid 1px #365f91;
}
.cl-leaderboard > tbody > tr {
  border-bottom: solid 1px #365f91;
}
.cl-leaderboard > tbody > tr > td {
  height: 50px;
  vertical-align: middle;
}
.cll-rank {
  width: 50px;
  text-align: center;
  color: #365f91;
}
.active > .cll-rank {
  color: #fff;
}
.cll-avatar {
  width: 50px;
}
.cll-avatar > a > img {
  height: 100%;
}
.cll-name,
.cll-stats {
  padding: 0 20px;
  text-align: center;
}
.cll-rank,
.cll-name {
  font-size: 18px;
}
.cll-stats-other {
  font-weight: normal;
}
.cll-name > a {
  color: #333333;
}
.cll-stats > p {
  margin: 0;
}
.cll-stats-ideas {
  font-size: 16px;
}





.aside-section-heading,
a,
.btn-link {
  color: #474747;
}

.header-actions > .btn{
    background-color: #1cafee;
  
}
.header-search, .header-countdown{
      background-color: #D9E3E6;

}






.header-actions > .btn{
 background-color: #474747  !important;
}


.cl-sub-hero-header{
text-align: center;
}


#cl p{
font-size: 16px;
}

#cl h1{
font-size: 23px;
}

@media (min-width: 768px) {
  html[dir="rtl"] #cl .navHeaderCollapse .navbar-nav {
    float: right;
  }
}

@media (min-width: 992px) {
  html[dir="rtl"] #cl .col-md-3, html[dir="rtl"] #cl .col-md-4 {
    float: right;
  }
}

/* arabic transpose main inner page sections */

html[dir="rtl"] .official-header-wrapper{
float: right;
}

html[dir="rtl"] #main-content{
float: right;
}


/* fix stages arabic */
/*
html[dir="rtl"] aside > section > .stage-list{
margin: -9px -38px !important;
padding-left: 47px;
} */

html[dir="rtl"] .community-name, html[dir="rtl"] .official-main-nav{
left: auto;
} 

@media (min-width: 992px) {
  html[dir="rtl"] .official-main-nav > .dropdown-menu > li {
    float: right;
  }
}

/*
html[dir="rtl"] aside[role="complementary"] > section, html[dir="rtl"] aside[role="complementary"] > nav, html[dir="rtl"] aside[role="complementary"] > .section{
padding: 10px 15p
*/

html[dir="rtl"] #leaders-section-content > ul > li .leader-position{
right: -25px !important;
}

html[dir="rtl"] .dropdown-menu, html[dir="rtl"] .stage-list .tooltip-inner {
  text-align: right;
}


@media (min-width: 992px) {
  html[dir="rtl"] .idea-list-tracking {
    right: auto;
    left: 150px;
  }
}

.username-update-panel .panel-heading {
  background: #D9E3E6;
}

.username-update-panel .panel-heading h4 {
  color: #fff;
}

.username-update-panel .btn-primary {
  background: #D9E3E6;
}

.campaign-description {
  overflow: hidden;
  color: #7e7e7e;
}

.campaign-description > img {
  float: left;
  margin-right: 10px;
}

html[dir="rtl"] .campaign-description > img {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .campaign-description > img {
    float: none !important;
    margin: 0 0 10px 0 !important;
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
  }
}



.column-wrapper{
  background: #fff;
}

.welcome{
  border: none;
  box-shadow: none;
}

.idea-list-modes li{
  background-color: #474747 !important;
}

.active > .directional.down{
  background-color: #D9E3E6;
}

.navbar-collapse, .navbar-default .navbar-form{
  background-color: #005993;
}

.navbar-default{
  border: none;
  background: none;
}

li.menu-active{
  background-color: #002d4c;
}

.navbar-default .navbar-nav > li:hover{
  background-color: #002d4c;

}

.hero-unit .btn{
  background: rgba(0,0,0, .4);
  color: #fff;
  font-weight: 900;
  font-size: 12px;
  padding: 10px 15px 10px 15px;
  margin-right: 7px;
  margin-bottom: 40px;
  float: left;
}

.navbar-nav{
  margin-left: -15px;
}

.hero-unit h2{
  color: #005993;
  text-align: left;
}

.not-bold{
  font-weight: 500;
}

.hero-unit p{
  text-align: left;
  color: #002d4c;  
  font-size: 12px !important;
}

.campaign-logo{
  border: 2px solid #bdc4c9;
  height: 222px;
  margin-bottom: 7px;
}

.img-attachment{
  height: 150px;
  border: 2px solid #bdc4c9;
  margin-bottom: 7px;
}

a.campaign-name{
  color: #0f79b3 !important;
  font-size: 20px;
}

.campaign-read-more{
  color: #0f79b3;
  font-weight: 900;
}

.tag-list li a{
  color: #0f79b3;
}

.cl-tag-list{
  border: 2px solid #bdc4c9;
  border-radius: 5px;
  margin-bottom: 15px;
}


.divider-row{
  font-weight: 900;
  border-bottom: 2px solid #000;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 20px;
  text-transform: uppercase;
}



.divider-row .left{
  text-align: left;
}

.divider-row .right{
  text-align: right;
  font-size: 15px;
}

.divider-row .right a{
  text-decoration: none;
  color: #0f79b3;
  font-weight: 900;
}


/* arabic transpose main inner page sections */

html[dir="rtl"] .official-header-wrapper{
float: right;
}

html[dir="rtl"] #main-content{
float: right;
}


/*html[dir="rtl"] .navbar-default .navbar-nav > li > a {
  font-size: 24px;
}*/

/*html[dir="rtl"] .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
  float: right;
}

html[dir="rtl"] .divider-row .left{
  text-align: right;
}

html[dir="rtl"] .divider-row .right{
  text-align: left;
}

html[dir="rtl"] .navbar-nav{
  float: right;
  margin-right: -15px;
}
*/