/* phoneco2 by alex v3 - last update 30 apr 2016 */
/* -------general------- */
.cl-row h1,
.cl-row h2,
.cl-row h3,
.cl-row h4 {
  text-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  text-align: center;
  padding-bottom: 15px;
}
.cl-row ul {
  list-style-position: inside;
}
.cl-row ul li {
  font-size: 15px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
p {
  font-size: 15px;
}
/* adjust container size, overriding bootstrap-ideascale style */
.main-container {
  width: 100%;
  padding: 0;
}
/* adjust container size, overriding bootstrap-ideascale style */
.container {
  padding: 0;
}
/* prevent rows from stretching past certain width */
.row.cl-row {
  /* adds nice padding on the sides and above and below rows..  -__- ahhhhh.... */
  padding: 45px 15px 45px 15px;
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
}
/* text and background colors */
.cl-grey-bg {
  background-color: #e8e8e8;
}
.cl-brand-bg {
  background-color: #104277;
  color: #fff;
}
.cl-text-brand {
  color: #104277 !important;
}
.cl-text-contrast {
  color: #e45807 !important;
}
.cl-section .btn {
  border: none;
  background-color: #104277;
  color: #fff;
  font-weight: 900;
  -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
  transition: .25s;
}
.cl-section .btn:hover {
  background-color: #2e6095;
}
a {
  -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
  transition: .25s;
}
/* -------END general------- */
/* --------navbar------- */
/* responive view hamburger toggle button line color */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
nav.navbar-sub-hero {
  border: none;
  background: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  background-color: #104277;
  z-index: 99;
  letter-spacing: 1px;
  font-weight: 900;
  /* topbar menu items displayed on full*/
  /* navbar logo */
}
nav.navbar-sub-hero input[type="text"].cl-search-box {
  top: 13px;
  float: right;
  width: 150px;
  font-weight: normal;
}
nav.navbar-sub-hero .cl-search-btn {
  padding: 6px 10px 6px 10px;
  font-size: 12px;
}
nav.navbar-sub-hero .container {
  padding-left: 27px;
  padding-right: 5px;
}
nav.navbar-sub-hero #ideascale-navbar-collapse-1 ul li {
  text-transform: uppercase;
  font-size: 18px;
  /* submenu items */
}
nav.navbar-sub-hero #ideascale-navbar-collapse-1 ul li > ul > li {
  font-size: 15px;
  text-transform: none;
}
nav.navbar-sub-hero #ideascale-navbar-collapse-1 ul li > ul > li:hover {
  background-color: #2e6095;
}
nav.navbar-sub-hero .navbar-brand {
  padding: 0;
}
nav.navbar-sub-hero .navbar-brand > img {
  padding: 10px 30px 5px 10px;
  max-height: 50px;
}
nav.navbar-sub-hero .navbar-nav {
  /* top level items without a dropdown menu*/
}
nav.navbar-sub-hero .navbar-nav a:hover {
  color: #fff;
  background-color: #4c7eb3;
}
nav.navbar-sub-hero .navbar-nav a:active {
  color: #fff;
  background-color: #4c7eb3;
}
nav.navbar-sub-hero .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu {
  background-color: #fff;
  z-index: 999;
}
@media (max-width: 768px) {
  .navbar-sub-hero[role="search"] {
    display: none;
  }
}
/* -------END navbar------- */
/* -------carousel------ */
.carousel-caption {
  top: 20%;
}
.carousel-caption p {
  font-size: 22px;
  font-weight: 900;
}
.carousel-caption .btn {
  margin-right: 15px;
  margin-top: 15px;
}
.carousel .item {
  width: 100%;
  height: 500px;
  background-size: cover;
}
/* adjust the carousel caption area for smaller screens */
@media (max-width: 992px) {
  .carousel-caption {
    top: 10%;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption p {
    font-size: 18px;
  }
}
/* turn off default carousel controls from bootstrap */
.carousel-control.left {
  display: none;
}
.carousel-control.right {
  display: none;
}
/* pick your carousel item backgrounds */
.carousel-item-1 {
  background: url("/userimages/1012/vestas-bg.png");
}
.carousel-item-2 {
  background: url("/community-library/accounts/91/917765/slider2.jpeg");
}
.carousel-item-3 {
  background: url("/community-library/accounts/91/917765/slider7.jpeg");
}
.carousel-item-4 {
  background: url("/community-library/accounts/91/917765/slider6.jpeg");
}
/* overriding default bootstrap styles for the circle controllers to make them sleek squares */
.carousel-indicators li {
  border-radius: 0;
  width: 25px;
  height: 26px;
}
.carousel-indicators .active {
  width: 25px;
  height: 27px;
  margin-bottom: 1px;
}
/* adjustment for very small ios device */
@media (max-width: 400px) {
  .carousel .item {
    height: 730px;
    background-size: cover;
  }
}
/* -------END carousel------ */
/* -------idea boxes, regular------ */
.cl-ideas .cl-idea-box {
  padding: 15px;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  margin-bottom: 30px;
  height: 270px;
}
.cl-ideas .cl-idea-box p {
  font-size: 14px;
}
.cl-ideas .cl-idea-box h3 a {
  color: #104277;
}
.cl-ideas .cl-idea-author {
  color: #2e6095;
}
.cl-ideas .cl-idea-stats {
  position: absolute;
  bottom: 45px;
  left: 30px;
  color: #2e6095;
}
@media (max-width: 768px) {
  .cl-ideas .cl-idea-stats {
    bottom: 15px;
  }
}
/* -------END idea boxes, regular------ */
/* -------idea boxes, repurposed as small campaign view ------ */
.cl-ideas-campaigns {
  /* div that adds a top border to the idea box */
}
.cl-ideas-campaigns .cl-idea-top-border-box {
  background-color: #e45807;
  width: 100%;
  height: 10px;
}
.cl-ideas-campaigns .cl-campaign-end-date {
  position: absolute;
  bottom: 45px;
  right: 30px;
  color: #104277;
}
@media (max-width: 768px) {
  .cl-ideas-campaigns .cl-campaign-end-date {
    bottom: 15px;
  }
}
/* -------END idea boxes, repurposed as small campaign view ------ */
/* -------idea boxes, pinned ------ */
.cl-ideas-pinned .cl-idea-center-pin {
  color: #2e6095;
  text-align: center;
  width: 100%;
  font-size: 35px;
  top: -25px;
  left: 5px;
  position: absolute;
}
.cl-ideas-pinned .cl-idea-stats {
  bottom: 15px;
  left: 15px;
}
.cl-ideas-pinned .cl-pin-rotate1 {
  transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
}
.cl-ideas-pinned .cl-pin-rotate2 {
  transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
}
/* -------END idea boxes, pinned ------ */
/* -------idea boxes, alternative------ */
.cl-ideas-alt .col-md-4 {
  height: 170px;
  margin-bottom: 30px;
}
.cl-ideas-alt h3 {
  text-align: left;
  padding-bottom: 0px;
}
.cl-ideas-alt h3 a {
  color: #104277;
}
.cl-ideas-alt .cl-idea-author-img {
  position: static;
  float: left;
  margin-right: 15px;
  height: 100px;
  width: 100px;
}
/* -------END idea boxes, alternative------ */
/* -------idea boxes, callout style------ */
.cl-ideas-callout {
  /* used to add padding to every other callout idea for visual interest */
}
.cl-ideas-callout h3 a {
  color: #104277;
}
.cl-ideas-callout .cl-ideas-callout-style {
  border: none;
  box-shadow: none;
}
.cl-ideas-callout .cl-idea-stats-callout {
  position: absolute;
  bottom: 75px;
  left: 30px;
  color: #2e6095;
}
.cl-ideas-callout .cl-idea-stats-callout-reverse {
  position: absolute;
  bottom: 75px;
  right: 30px;
  color: #2e6095;
}
.cl-ideas-callout .cl-ideas-callout-extra-margin {
  margin-top: 50px;
}
.cl-ideas-callout .cl-ideas-callout-triangle {
  background: url("/images/custom-landing/callout.png");
  background-repeat: no-repeat;
  background-position: top right;
  width: 60%;
  height: 60px;
  margin-top: -30px;
}
.cl-ideas-callout .cl-ideas-callout-triangle-reverse {
  background: url("/images/custom-landing/callout2.png");
  background-repeat: no-repeat;
  background-position: top right;
  padding-right: 170px;
  width: 60%;
  height: 60px;
  margin-top: -30px;
}
.cl-ideas-callout .cl-ideas-callout-author {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  bottom: 15px;
  right: 45px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  z-index: 1;
}
.cl-ideas-callout .cl-ideas-callout-author-reverse {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  bottom: 15px;
  left: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  z-index: 1;
}
/* -------END idea boxes, callout style------ */
/* -------campaigns, standard with campaign logo with white title overlay, contained in white box------ */
.cl-campaigns .cl-campaign-box {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  padding: 15px;
  height: 270px;
  margin-bottom: 30px;
  -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
  transition: .25s;
}
.cl-campaigns .cl-campaign-box p {
  font-size: 14px;
  color: #333;
}
.cl-campaigns .cl-campaign-box:hover {
  background-color: #f8f8f8;
}
.cl-campaigns .cl-campaign-title {
  position: absolute;
  bottom: 5px;
  left: 15px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 900;
  text-decoration: none;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
}
.cl-campaigns .cl-campaign-idea-number {
  position: absolute;
  bottom: 45px;
  left: 30px;
  font-size: 13px;
  color: #104277;
}
.cl-campaigns .cl-campaign-logo-box {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-top: 10px solid #104277;
}
.cl-campaigns .cl-campaign-end-date {
  position: absolute;
  bottom: 45px;
  right: 30px;
  color: #104277;
}
/* adjustment for small ios devices */
@media (max-width: 400px) {
  .cl-campaigns .cl-campaign-box {
    height: 340px;
  }
}
@media (max-width: 996px) {
  .cl-campaigns .cl-campaign-idea-number,
  .cl-campaigns .cl-campaign-end-date {
    bottom: 15px;
  }
}
/* -------END campaigns, standard with campaign logo with white title overlay, contained in white box------ */
/* -------campaigns, horiztonal------ */
.cl-campaigns-horizontal .cl-campaigns-horizontal-img {
  width: 100%;
  height: 200px;
}
.cl-campaigns-horizontal .btn {
  margin-top: 0px !important;
  width: 100% !important;
}
.cl-campaigns-horizontal .btn a {
  color: #fff;
}
.cl-campaigns-horizontal .col-md-9 {
  padding: 0;
}
.cl-campaigns-horizontal .col-md-6,
.cl-campaigns-horizontal .col-md-3 {
  padding-left: 0;
}
.cl-campaigns-horizontal .cl-campaigns-horizontal-row {
  background-color: #fff;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  padding: 15px;
  font-size: 14px;
}
.cl-campaigns-horizontal .cl-campaigns-horizontal-row-logo {
  background-size: cover;
  height: 200px;
}
.cl-campaigns-horizontal .cl-campaigns-horizontal-name {
  color: #104277;
  text-align: left;
  font-size: 25px;
}
@media (max-width: 692px) {
  .cl-campaigns-horizontal .col-md-6,
  .cl-campaigns-horizontal .col-md-3 {
    padding-right: 0;
  }
}
/* -------campaigns, horiztonal------ */
/* -------campaigns, featured------ */
.cl-campaigns-featured .cl-featured-campaign-logo {
  width: 100%;
  height: 270px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  border: 1px solid #104277;
}
.cl-campaigns-featured .cl-campaign-group {
  padding-top: 7px;
  color: #104277;
  font-size: 13px;
  text-transform: uppercase;
  text-align: left;
}
.cl-campaigns-featured .cl-featured-campaign-name a {
  text-align: left;
  color: #104277;
  font-size: 18px;
  font-weight: 900;
}
/* -------END campaigns, featured------ */
/* -------leaderboard------ */
.cl-leaderboard .cl-leaderboard-row {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #104277;
  text-align: center;
}
.cl-leaderboard .cl-leaderboard-even-bg {
  background-color: #e8e8e8;
  color: #000;
}
.cl-leaderboard .cl-leaderboard-avatar {
  height: 25px;
  width: 25px;
  border-radius: 100%;
}
.cl-leaderboard .cl-leaderboard-count {
  padding-top: 15px;
  font-size: 15px;
  font-weight: 900;
  padding-left: 7px;
}
.cl-leaderboard .cl-leaderboard-name {
  padding-top: 15px;
  font-size: 15px;
  font-weight: 900;
}
.cl-leaderboard .cl-leaderboard-ideas {
  font-size: 15px;
  display: block;
}
.cl-leaderboard .cl-leaderboard-comments {
  font-size: 15px;
  display: block;
}
.cl-leaderboard .cl-leaderboard-votes {
  font-size: 15px;
  display: block;
}
@media (max-width: 992px) {
  .cl-leaderboard .cl-leaderboard-row {
    text-align: center;
  }
  .cl-leaderboard .cl-leaderboard-avatar {
    margin: 0 auto;
    width: 50px;
    height: 50px;
  }
  .cl-leaderboard .cl-leaderboard-name,
  .cl-leaderboard .cl-leaderboard-count {
    font-size: 30px;
  }
  .cl-leaderboard {
    font-size: 15px;
  }
  .cl-leaderboard .cl-leaderboard-comments,
  .cl-leaderboard .cl-leaderboard-ideas,
  .cl-leaderboard .cl-leaderboard-votes {
    display: inline;
  }
}
/* -------END leaderboard------ */
/* -------tags------ */
/* word cloud frequency widget */
.very-high {
  font-size: 28px;
  color: #00063b;
}
.high {
  font-size: 23px;
  color: #002459;
}
.medium-high {
  font-size: 20px;
  color: #104277;
}
.medium {
  font-size: 15px;
  color: #104277;
}
.medium-low {
  font-size: 13px;
  color: #2e6095;
}
.low {
  font-size: 10px;
  color: #2e6095;
}
.very-low {
  font-size: 8px;
  color: #4c7eb3;
}
/* -------END tags------ */
/* -------footer------ */
footer {
  margin-top: -15px;
  margin-bottom: -15px;
}
footer h4 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 45px;
  letter-spacing: 1px;
}
footer ul li a {
  color: #fff;
}
footer ul li {
  list-style: none;
  padding: 5px;
  margin-left: -30px;
  font-weight: 900;
}
footer p {
  color: #4c7eb3;
  font-size: 10px;
  text-align: center;
}
/* -------END footer------ */
/* -------video area------ */
.cl-video-bg {
  /* patterned background (greyscale image that gets covered with colored transparent div) */
  background: url('/images/custom-landing/grey-bg.png');
  background-size: cover;
}
.cl-video-section .cl-brand-translucent-overlay {
  background-color: rgba(0, 36, 75, 0.6);
  width: 100%;
  color: #fff;
}
.cl-video-section iframe {
  width: 100%;
  border: 1px solid #104277;
}
.cl-video-section h2 > a {
  color: #fff;
}
.cl-video-section .cl-play-video-text {
  display: none;
}
.cl-video-section .glyphicon-play-circle {
  display: none;
}
@media (max-width: 767px) {
  .cl-video-section iframe {
    display: none;
  }
  .cl-video-section a > .glyphicon-play-circle {
    font-size: 100px;
    margin: 0 auto;
    padding-bottom: 30px;
    display: block;
    text-align: center;
    color: #fff;
  }
  .cl-video-section a > .glyphicon-play-circle:hover {
    text-decoration: none;
  }
  .cl-video-section .cl-play-video-text {
    display: block;
  }
}
/* -------END video area------ */
/* **************************** */
/* *Theme Form ONLY below here* */
/* **************************** */
/* -------inner community page------ */
/* changes all the links to brand color, except for stage links */
/* unselected idea tags */
nav.idea-list-modes li > a[aria-selected="false"] {
  background-color: #104277;
}
/* "Lets put our ideas to work" box  */
.header-search,
.header-countdown {
  background-color: #104277;
}
/* header banner navigation background */
.official-header {
  background-color: #104277;
}
/* header banner navigation background */
.official-main-nav ul.dropdown-menu {
  background-color: #104277;
}
/* header banner navigation active link*/
.official-main-nav > .dropdown-menu > .active > a {
  color: #fff;
}
/* other non bold links in navigation */
.official-main-nav > .dropdown-menu > li > a {
  color: #fff;
}
/* Most links  */
.idea a,
.profile a,
.main-content-area a,
.idea .btn-link,
.profile .btn-link,
.main-content-area .btn-link {
  color: #104277;
}
/* "Submit New Idea" button  */
.header-actions > .btn {
  background-color: #dc7217;
  font-weight: 900;
  -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
  transition: .25s;
}
/* "Submit New Idea" button  */
.header-actions > .btn:hover {
  background-color: #4c7eb3;
  font-weight: 900;
}
/* sidebar headers */
.aside-section-heading {
  color: #104277;
}
/* sidebar links */
aside[role="complementary"] a {
  color: #104277;
}
/* sidebar stage links - you shouldn't change this; affects too many areas */
aside[role="complementary"] ul.stage-list > li > a {
  color: #333;
}
/* sidebar stage links - you shouldn't change this; affects too many areas */
.link-list > .current {
  background-color: #104277;
}
/* inner community - eliminate weird gray and shadows */
.column-wrapper {
  background: none;
}
.official-header {
  border-bottom: 1px solid #bbb;
  box-shadow: none;
}
.header-actions > .btn {
  box-shadow: none;
}
.idea-list-modes {
  background: #fff;
  border-top: none;
}
.official-header > .logo {
  border: 1px solid #888;
  box-shadow: none;
}
/* fix for team building link issue */
.team-member-action > a[data-json-handler-contextual="idea-team-updated"] {
  color: #fff;
}
/* fix for tags color issue */
.idea-tags a.tag {
  background: #fff;
  color: #104277;
  border: 2px solid #104277;
}
.idea-tags a.tag:hover {
  color: #104277;
}
/* fix for SSO login button */
a[href="/a/sso/login"] {
  color: #fff;
}
/* fix for idea list tracking inside brackets on navbar inner pages campaign page */
.idea-list-tracking {
  color: #fff;
}
.idea-list-tracking a {
  color: #fff;
}
/* -------END inner community page------ */
.official-main-nav {
  left: 50px;
}
.community-name,
.page-name {
  left: 50px;
}



*{
    -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
  transition: .25s;
}
  #slide{
    background-color: gold;
  }

  #slide2{

    background-color: coral;

  }

    #slide3{

    background-color: aquamarine;

  }


  #left-arrow{
    height: 25px;
    width: 25px;
    background-color: red;
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;


  }

  #right-arrow{
    height: 25px;
    width: 25px;
    background-color: green;
    position: relative;
    top: 0;
    left: 10px;
      display: inline-block;
  

  }