body {
	background: #FFF;
	font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

#header {
	background-color:#0096c2 !important;
	border: none;
	border-top-right-radius: 40px;
}

#official-header {
	box-shadow: none;
}

	#official-header .logo {
		border: 0px solid #FFF;
		padding: 0 10px;
		border-left: 5px solid #0096c2;
		box-shadow: none;
		top:0; bottom:0; left:0;
	}
	
		#official-header .logo img {
			width:115px;
			background-color: #FFF;
			margin-top: 26px;
		}
		
		#official-header #skip {
			display:none;
		}
		
	#community-name {left: 139px !important;}


/* MAIN */

#main {
	background: #FFF;
	box-shadow: none; -webkit-box-shadow: none;
}

	.overlay {
		border: 0px solid #FFF !important;
	}

	#about {
		width:870px;
		background: #FFF;
		padding:40px 0;
	}
	
		#client-txt {
			padding: 0;
			border: 0px solid #FFF;
			box-shadow: none;
		}
		
			#client-txt h2 {
				
			}
			
	#assignees, .assignees {
		margin-top:0;
		margin-bottom: 40px;
		border-radius: 10px;
	}
	
		.assignee button {
			border: 1px solid #C0C0C0;
			border-radius: 5px;
			top:0; right: 0;
		}
		
	.status-filter {
		margin: 40px 0;
		top: auto; right: auto;
		float:none;
	}
	
	#listing-nav {
		
	}
	
		#listing-nav li a {
			color: #FFF !important;
			background-color: #0096c2 !important;
		}
		
		#listing-nav li.active a {
			color: #404040 !important;
			background-color: #FFF !important;
			border-top: 0px solid #FFF !important;
		}
		
	.voting {
		border: 1px solid #C0C0C0 !important;
		border-radius: 10px;
	}
		.voting .arrow-up {border-bottom: 19px solid #404040;}
		.voting .arrow-down {border-top: 19px solid #404040;}
		
	.voted-up {}
	.voted-up .arrow-up {border-bottom: 19px solid #86af61 !important;}
	.voted-up .feedback-score, .voted-up .unit {color: #86af61 !important}
		
	.voted-down {}
	.voted-down .arrow-down {border-top: 19px solid #bf4c55 !important;}
	.voted-down .feedback-score, .voted-down .unit {color: #bf4c55 !important}
		
	.unable-to-vote .arrow-up, .voted-down .arrow-up {border-bottom: 19px solid #C0C0C0 !important;}
	.unable-to-vote .arrow-down, .voted-up .arrow-down {border-top: 19px solid #C0C0C0 !important;}
	
	#main a {color: #0096c2 !important}
	#main a.agree:hover .arrow-up, .agreed .arrow-up {border-bottom: 19px solid #86af61 !important;}
	#main a.disagree:hover .arrow-down, .disagreed .arrow-down {border-top: 19px solid #bf4c55 !important;}
	
	#ideas, .no-ideas {border:0px solid #FFF !important;}
	.idea-status.active, li.active a:before, li.active:hover a:before {background: #fbb03b !important;}
	
	.score-bars {border-bottom: 3px solid #C0C0C0 !important;}
	.agreements {
		color: #86af61 !important;
		border-color: #86af61 !important;
	}
	.disagreements {
		color: #bf4c55 !important;
		border-color: #bf4c55 !important;
	}

#page {
	background: #FFF;
}

/* SIDEBAR */

#sidebar {
	background: #FFF !important;
	border-top:5px solid #0096c2;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

	#sidebar .collapse-expand {
		color: #FFF !important;
	}
	
		#sidebar h3, #sidebar h4, #sidebar h5, #sidebar .number, #stats-section #ideas-stats, #sidebar .stats-item, #sidebar #intro-steps li,
		#top-contributors-link a, #categories-section-active li a, #sidebar .link-btn, #sidebar #manage-tags-activator a, #sidebar #tag-cloud-items a,
		#sidebar #manage-tags-deactivator a {
			color: #FFF !important;
		}
		
		#sidebar a.inline-help {
			color: #FFF !important;
			text-decoration: underline !important;
		}
		
		#sidebar #intro-steps li {
			font-weight: normal !important;
		}
		
		#top-contributors-link a {
			text-decoration: underline;
		}
		
		#categories-section-active ul li.current-category {
			background-color: #FFF !important;
			border-radius: 5px;
		}
		
		#categories-section-active ul li.current-category a {
			color: #0096c2 !important;
		}
		
		#tag-cloud-items.manage-mode {
			background:#FFF;
			margin-top:10px;
			padding:10px;
			border-radius: 5px;
			font-size: 1em;
		}
		
			#tag-cloud-items.manage-mode a {
				background: #0096c2 !important;
				padding: 0 5px !important;
			}
			
			#tag-cloud-items.manage-mode a:hover {
				background: #bf4c55 !important;
			}

	#search {
		background:#FFF !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}
	
		#search h3 {
			color: #0096c2 !important;
		}
	
		#search form {
			background:#FFF !important;
			padding:22px 0 18px 0 !important;
		}
		
			#search #search-field, #search #search-field:focus {
				color: #404040 !important;
				border: 1px solid #C0C0C0 !important;
				-webkit-border-radius: 5px !important;
				border-radius: 5px !important;
				-webkit-box-shadow: none !important;
				box-shadow: none !important;
			}
			
			#search a {margin: auto;}
			
			#search .submit-new-idea, .submit-new-idea:hover {
				color: #FFF !important;
				background: #86af61 !important;
				border-radius:5px;
			}
			
	#intro {
		margin-top: 0 !important;
		border-top: 0px solid #FFF !important;
		border-bottom: 1px solid #FFF !important;
	}
	
	#stats-section, #categories-sections, #sidebar .section {
		border-bottom: 1px solid #FFF !important;
	}
	
	#tags-section {
	}
			
	#intro, #stats-section, #categories-sections, #categories-sections .section, #tags-section {
		background: #0096c2 !important;
		border-width: 0;
		border-style: none;
	}
	
	.section {
		border-width: 0;
		border-style: none;
	}
	
/*	#search .div:last-child {
		background: #FFF !important;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}*/


/* ----------------------- */

h1#community-name {
	color: #FFF;
	font-weight: bold;
}

h2 {
	color: #0096c2 !important;
}

h2.page-title span {
	color: #FFF !important;
}

h3.box-legend {
	background: #FFF;
}

p {
	color: #404040 !important;
	font-weight: normal;
}

/* ----------------------- */

.box-with-legend {
	margin: 0;
	border:1px solid #C0C0C0;
}

	.box-with-legend .collapse-expand {
		color: #86af61;
	}
	
.member-search button {
	color: #0096c2;
}

#top-contributors .contributor {
	border:1px solid #C0C0C0;
	border-radius: 10px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.user-stats {
	background-color: #0096c2;
	border: 0px solid #FFF;
	border-radius: 10px;
}

	.user-stats p {
		color: #FFF !important;
	}
	
	.user-stats-points, .user-stats-points strong {
		color: #FFF !important;
	}

	.user-stats-details {
		border-right:1px solid #FFF;
	}
	
		.user-stats-details .number {
			color: #FFF !important;
		}
		
		
#idea-tags .tag-links a[rel~="tag"], #tag-cloud-items.manage-mode a {
	color: #FFF !important;
	background: #0096c2 !important;
}
