/* phoneco2 by alex v3 - last update 30 apr 2016 */

@ideascaleBlue: #2483CB;
@ideascaleGrey: #e8e8e8;

@neutralColor: @brandColorDarkest;

@brandColor: #007FC2;
@brandColorDarkest: @brandColor - 60%;
@brandColorDarker: @brandColor - 30%;
@brandColorLighter: @brandColor + 30%;
@brandColorLightest: @brandColor + 60%;


@orangeColor: #ff7400;
@orangeColorLighter: @orangeColor + 30%;

@contrastColor: #553958;
@contrastColorDarker: @contrastColor - 30%;
@contrastColorLighter: @contrastColor + 30%;


.submit-new-idea, .submit-new-idea:hover{
color: @orangeColor;
}

.dropdown-menu{
margin-left: -90px;
}


/* -------inner community page------ */
/* changes all the links to brand color, except for stage links */

/* unselected idea tags */
nav.idea-list-modes li > a[aria-selected="false"]{
	background-color: @neutralColor;
}

/* "Lets put our ideas to work" box  */
.header-search, .header-countdown{
	background-color: @neutralColor;	
}

/* header banner navigation background */
.official-header{
	background-color: @neutralColor;
}


/* header banner navigation background */
.official-main-nav ul.dropdown-menu{
	background-color: @neutralColor;

}

/* header banner navigation active link*/
.official-main-nav > .dropdown-menu > .active > a{
	color: #fff;	
}

/* other non bold links in navigation */
.official-main-nav > .dropdown-menu > li > a{
	color: #fff;
}



/* Most links  */
.idea a, .profile a, .main-content-area a, .idea .btn-link, .profile .btn-link, .main-content-area .btn-link{
	color: @brandColor;
}


/* "Submit New Idea" button  */
.header-actions > .btn{
	background-color: @orangeColorLighter;
	font-weight: 900;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;	
}

/* "Submit New Idea" button  */
.header-actions > .btn:hover{
	background-color: @orangeColor;
	font-weight: 900;
}


/* sidebar headers */
.aside-section-heading{
	color: @brandColor;
}

/* sidebar links */
aside[role="complementary"] a{
	color: @brandColor;
}

/* sidebar stage links - you shouldn't change this; affects too many areas */
aside[role="complementary"] ul.stage-list > li > a{
	color: #333;
}

/* sidebar stage links - you shouldn't change this; affects too many areas */
.link-list > .current{
	background-color: @brandColor;
}

/* inner community - eliminate weird gray and shadows */

.column-wrapper{
	background: none;
}

.official-header{
	border-bottom: 1px solid #bbb;
	box-shadow: none;
}

.header-actions > .btn{
	box-shadow: none;
}

.idea-list-modes{
	background: #fff;
	border-top: none;
}

.idea-list, .profile-list{
}

.official-header > .logo{
	border: 1px solid #888;
	box-shadow: none;
}


/* fix for team building link issue */

.team-member-action > a[data-json-handler-contextual="idea-team-updated"]{
	color: #fff;
}

/* fix for tags color issue */

.idea-tags a.tag {
	background: #fff;
	color: @brandColor;
	border: 2px solid @brandColor;
}

.idea-tags a.tag:hover{
	color: @brandColor;	
}

/* fix for SSO login button */

a[href="/a/sso/login"]{
	color: #fff;
}

/* fix for idea list tracking inside brackets on navbar inner pages campaign page */

.idea-list-tracking{
	color: #fff;

	& a{
		color: #fff;
	}
}



/* -------END inner community page------ */


